header{
    align-items: center;
    background-color: hsl(204, 56%, 98%);
    display: flex;
    height: 5vh;
    justify-content: space-between;
    gap: 5%;
    padding: 2rem 10%;
    width: 80%;
}


.logo{
    size: 10rem;
}

.menu ul{
    display: flex;
    gap: 1rem;
}

.menu ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 300;
    font-weight:400;
}

.shopping{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.shopping .shopping-cart{

}

.shopping .shopping-cart button,
.shopping .shopping-buynow button{
    background-color: rgb(255, 102, 34);
    color:hsl(204, 56%, 98%);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem ;
    font-weight: 400;
}

.shopping .shopping-cart button svg{
    fill:hsl(204, 56%, 98%);
    width: 2rem;
}


.shopping .shopping-buynow{

}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3000;
    background-color: rgba(240, 248, 255, 0.942);
}

.overlay .overlay-modal {
    position: fixed;
    z-index: 3001;
    width: 50%;
    height: 60%;
    transform: translate(50%, 20%);
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    border-style: ridge;
    display: flex;
    gap: 3rem;
    padding: 2rem;
    
}


.overlay .overlay-modal-image{
    padding-left: 1rem;
}

.overlay .overlay-modal-info {
    display: flex;
    flex-direction: column;
    

}

.overlay .overlay-modal-info-title {

}

.overlay .overlay-modal-info-title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 3rem;
}

.overlay .overlay-modal-info-subtitle {

}

.overlay .overlay-modal-info-subtitle h3 {
    font-family: 'Roboto', sans-serif;
    color:rgb(218, 98, 47);
    margin-bottom: 1rem;
    font-weight: 500;
}

.overlay .overlay-modal-info-price {

}

.overlay .overlay-modal-info-price span{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

.overlay .overlay-modal-info-text {

}

.overlay .overlay-modal-info-text p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.overlay .overlay-modal-info-button{
}

.overlay .overlay-modal-info-button button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: x-large;
    width: 90%;
    padding: 1rem;
    background-color: rgb(218, 98, 47);
    border-radius: 10px;
}

.slider {
    align-items:center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-height: 90vh;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.slider .slider-image{
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
}

.slider .slider-image img{
    width: 100%;
    position: relative;
    z-index: -5;

}

.slider .slider-title{
    margin-bottom: 2rem;
    position: absolute;
    z-index: 1001;
    top: 10%;
}

.slider .slider-title h1{
    color:rgb(247, 250, 253);
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    
}

.slider .slider-description{
    color:rgb(247, 250, 253);
    margin-bottom: 2rem;
    position: absolute;
    z-index: 1001;
    top: 30%;
}

.slider .slider-description p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.slider .slider-button{
    position: absolute;
    z-index: 1001;
    top: 46%;
}

.slider .slider-button button{
    padding: 1rem 2rem;
    background-color: rgb(255, 102, 34);
    font-family: 'Roboto', sans-serif;
    color:rgb(247, 250, 253);
    font-weight: 600;
    font-size: 2rem;
    border-radius: 1rem;
}

.featured{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(189, 195, 199);
    height: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.featured .featured-title{

}

.featured .featured-title h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
}

.featured .featured-description{

}

.featured .featured-description p{
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.featured .featured-elements{
    display: flex;
    justify-content: space-between;
    margin: 4% 10%;
    gap: 5rem;
}

.featured .featured-element{

}

.featured .featured-element{
    background-color: rgb(221, 221, 221);
    border-radius: 2rem;
    width: 100%;
    padding: 3%;
}

.featured .featured-element .featured-element-image{
    display: flex;
    justify-content: center;
    width: 100%;
}

.featured .featured-element .featured-element-image svg{
    width: 35%;
}

.featured .featured-element .featured-element-title{
    
}

.featured .featured-element .featured-element-title h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    
}

.featured .featured-element .featured-element-description{
    
}

.featured .featured-element .featured-element-description p{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 3%;
    
}

.details{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5%;
    gap: 2rem;
    background-color: rgb(221, 221, 221);
    

}

.details .details-title{

}

.details .details-title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    
}

.details .details-description{

}

.details .details-description p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    
}

.details .details-products{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    gap: 2rem;
}

.details .details-elements{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(189, 195, 199);
    border-radius: 2rem;
    gap: 1rem;
}

.details .details-elements .details-elements-image{

}

.details .details-elements .details-elements-image img{
    margin: 1rem;
    border-radius: 2rem;
}

.details .details-elements .details-elements-title{

}

.details .details-elements .details-elements-title h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.details .details-elements .details-elements-subtitle{

}

.details .details-elements .details-elements-subtitle h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.details .details-elements .details-elements-info{

}

.details .details-elements .details-elements-info span{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    
}

.details .details-elements .details-elements-buttons{

}

.details .details-elements .details-elements-buttons button{
    margin-bottom: 1rem;
    padding: 2% 20%;
    border-radius: 10px;
    border-style: hidden;
    background-color:rgb(245, 120, 67);
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}



.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70vh;
    padding: 5% 7%;
    background-color:rgb(189, 195, 199) ;
    gap: 4rem;
}

.information .information-caracteristics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    gap: 4rem;
    padding: 3% 2%; 
    background-color:rgb(221, 221, 221) ;
    border-radius: 2rem;
    
    
}

.information .information-caracteristics-atributes{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    

    
}

.information .information-caracteristics-atributes-symbol {

}

.information .information-caracteristics-atributes-symbol svg{
    width: 2rem;
    fill: rgb(245, 120, 67);
    
}

.information .information-caracteristics-atributes-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.information .information-caracteristics-atributes-text-title {

}

.information .information-caracteristics-atributes-text-title h3{
     font-size: 2rem;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
}

.information .information-caracteristics-atributes-text-explanation {

}

.information .information-caracteristics-atributes-text-explanation p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.information .information-photo{
    
}

.team{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    padding: 5% 5%;
    gap:2rem;
}

.team .team-title{

}

.team .team-title h2{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.team .team-description{

}

.team .team-description p{
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0% 15%;
}

.team .team-members{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.team .team-members .team-members-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    text-align: center;
    background-color:rgb(189, 195, 199);
    
}

.team .team-members-profile-photo{
    margin: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.team .team-members-profile-name{
    
}

.team .team-members-profile-name h3{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.team .team-members-profile-job{

}

.team .team-members-profile-job h4{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}


.team .team-members-profile-menu{
    color:rgb(218, 98, 47);
}

.location{
    height: 70vh;
    position: relative;
}

.location .location-image{
    position: absolute;
    z-index: 1001;
    height: 65vh;
    width: 100%;
}

.location .location-image iframe{
    align-items: center;
    height: 100%;
    width: 100%;
}

.location .location-box{
    align-items:center;
    display: flex;
    background-color: aliceblue;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    right: 37%;
    top:20%;
    z-index: 1002;
    width: 20%;
}
.locaation .location-box svg{
    width: 2rem;
}
.location .location-box-title{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.location .location-box-title h3{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.location .location-box .location-box-info{
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 80%;
}

.location .location-box-info-data{
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.location .location-box-info-symbol{

}

.location .location-box-info-symbol svg{
    width: 2rem;
}


.location .location-box-button{
    width: 50%;
}

.location .location-box-button button{
    padding: 2%;
    width: 100%;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(218, 98, 47);
    border-radius: 9px;
    font-weight: 700;

}

.endpage {
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}

.endpage .endpage-socialmedia{

}

.endpage .endpage-socialmedia {
   
}


.endpage .endpage-socialmedia ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    gap: 2rem;
}

.endpage .endpage-socialmedia ul li svg{
    fill: black;
    width: 3rem;
    right:30%;
}

.endpage .endpage-endmenu{ 

}

.endpage .endpage-endmenu ul{
    display: flex;
    font-family: 'Roboto', sans-serif;
    gap: 4rem;
    margin-bottom: 4rem;
}

.endpage .endpage-bottomtext {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}